{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% macro breadcrumbBackForward(hideHomePage=false) %}
<div class="page-navigation govuk-!-display-none-print">
  <nav class="page-navigation__links" aria-label="Page navigation">
    <a href="#" class="govuk-link page-navigation__link page-navigation__link--back" data-page-nav-action="back">Back</a>
    <a href="#" class="govuk-link page-navigation__link page-navigation__link--forward" data-page-nav-action="forward">Forward</a>
  </nav>
</div>

{% endmacro %}

{% macro breadcrumb(breadcrumbs) %}

{{ govukBreadcrumbs({
  collapseOnMobile: true,
  items: breadcrumbs,
  classes: "govuk-!-display-none-print"
}) }}

{% endmacro %}
