<a class="hmpps-category-card" href="{{ cardItem.href or '#' }}">
  {% if cardItem.thumbnailUrl %}
    <img class="hmpps-category__thumbnail" src="{{ cardItem.thumbnailUrl }}" alt="{{ cardItem.title or cardItem.linkText or 'Card thumbnail' }}">
  {% endif %}
  <div class="hmpps-category-card__title">
    <h3 class="govuk-heading-s">{{ cardItem.title or cardItem.linkText or 'Untitled' }}</h3>
    {% if showSeriesTag and cardItem.contentType == "series" %}
      <strong class="govuk-tag govuk-tag--purple hmpps-category-card__tag">Series</strong>
    {% endif %}
  </div>
</a>
