{%- from "moj/components/organisation-switcher/macro.njk" import mojOrganisationSwitcher -%}

{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "../components/header/navigation.njk" import headerNavigation %}

<header class="hmpps-header" role="banner">
  <div class="hmpps-header__container">
    <div class="hmpps-header__title">
      <a class="hmpps-header__link hmpps-header__title__organisation-name" href="/">
        <img class="hmpps-header__logo" src="/assets/images/content-hub-logo.png" alt="logo">
        {{ t('common:header.title') or 'Content Hub' }}

        {% if establishment %}
          <a class="hmpps-header__link hmpps-header__title__service-name" href="/">{{ establishment.displayName }}</a>
        {% endif %}
      </a>

      {% if environmentName %}
        <div class="govuk-phase-banner">
          {{ govukTag({
            text: environmentName,
            classes: environmentNameColour,
            attributes: { "data-qa": "header-phase-banner" }
          }) }}
        </div>
      {% endif %}
    </div>

    {{ headerNavigation({
      supportedLanguages: supportedLanguages,
      language: language,
      showSearch: showSearch,
      searchQuery: searchQuery
    }, t) }}
  </div>
</header>

<div class="govuk-width-container">
  {% if isStaffPortal and user %}
    {{ mojOrganisationSwitcher({
      text: establishment.displayName,
      link: {
        text: "Change prison",
        href: "/staff/prisons"
      }
    }) }}
  {% endif %}
</div>
