{%- from "moj/components/primary-navigation/macro.njk" import mojPrimaryNavigation -%}

{% set navItems = primaryNavigation or [] %}

{{ mojPrimaryNavigation({
  label: 'Primary navigation',
  items: navItems
}) }}
