{%- from "moj/components/primary-navigation/macro.njk" import mojPrimaryNavigation -%}
{% set breadcrumbs = data.breadcrumbs | default(breadcrumbs) %}

{{ mojPrimaryNavigation({
  label: 'Primary navigation',
  items: primaryNavigation | makeCurrentPrimaryCategoryActive(originalUrl, breadcrumbs)
}) }}
