{%- from "moj/components/primary-navigation/macro.njk" import mojPrimaryNavigation -%}

{{ mojPrimaryNavigation({
  label: 'Primary navigation',
  items: primaryNavigation | makeCurrentPrimaryCategoryActive(originalUrl, data.breadcrumbs)
}) }}
