REDIS_ENABLED=false
TOKEN_VERIFICATION_ENABLED=false

# Credentials for allowing staff user access
AUTH_CODE_CLIENT_ID=<from k8s secret>
AUTH_CODE_CLIENT_SECRET=<from k8s secret>

# Credentials for API calls
CLIENT_CREDS_CLIENT_ID=<from k8s secret>
CLIENT_CREDS_CLIENT_SECRET=<from k8s secret>

# Credentials for allowing prisoner user access
LAUNCHPAD_API_CLIENT_ID=<from k8s secret>
LAUNCHPAD_API_CLIENT_SECRET=<from k8s secret>

# If you are sourcing content from the dev environment:
CMS_API_URL=https://jsonapi-cms-prisoner-content-hub-development.apps.live.cloud-platform.service.justice.gov.uk
# If you are sourcing content from a locally running Drupal back end:
#CMS_API_URL=http://localhost:11001

HMPPS_AUTH_URL=https://sign-in-dev.hmpps.service.justice.gov.uk/auth
LAUNCHPAD_AUTH_URL=https://launchpad-auth-dev.hmpps.service.justice.gov.uk
NPR_STREAM_URL=https://proxy-prisoner-content-hub-development.apps.live.cloud-platform.service.justice.gov.uk/npr-live/stream.ogg
