services:
  hmpps-launchpad-auth:
    image: ghcr.io/ministryofjustice/hmpps-launchpad-auth:latest
    container_name: content-hub-ui-hmpps-launchpad-auth
    ports:
      - "8080:8080"
    network_mode: "bridge"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health/ping"]
    env_file: docker-compose.launchpad-auth.env
    environment:
      - azure.launchpad-redirectUri=http://localhost:8080/v1/oauth2/callback
      - launchpad.auth.iss-url=http://localhost:8080
      - hmpps.auth.url=https://sign-in-dev.hmpps.service.justice.gov.uk/auth
      - DB_ENDPOINT=host.docker.internal:5432

  hmpps-template-kotlin:
    image: ghcr.io/ministryofjustice/hmpps-template-kotlin:latest
    networks:
      - hmpps
    container_name: hmpps-template-kotlin
    ports:
      - "8181:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health/ping"]
    environment:
      - HMPPS_AUTH_URL=https://sign-in-dev.hmpps.service.justice.gov.uk/auth
      - EXAMPLE_API_URL=http://localhost:8080

  app:
    build:
      context: .
      args:
        BUILD_NUMBER: "1.0.0"
        GIT_REF: "a1b2c3"
        GIT_BRANCH: main
    container_name: app
    networks:
      - hmpps
    ports:
      - "3000:3000"
    healthcheck:
      test: ["CMD", "wget", "-q", "-O", "-", "http://localhost:3000/health"]
    env_file: docker-compose.app.env
    environment:
      - LAUNCHPAD_AUTH_URL=http://host.docker.internal:8080
      - LAUNCHPAD_AUTH_EXTERNAL_URL=http://localhost:8080
      - EXAMPLE_API_URL=http://hmpps-template-kotlin:8080

networks:
  hmpps:
