.hmpps-header {
  @include govuk-responsive-padding(1, 'top');
  @include govuk-responsive-padding(1, 'bottom');
  background-color: govuk-colour('black');
  border-bottom: 1px solid govuk-colour('mid-grey');

  &__container {
    @include govuk-width-container;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    @include govuk-responsive-margin(2, 'right');
  }

  &__title {
    @include govuk-responsive-padding(3, 'right');
    display: flex;
    align-items: center;

    &__organisation-name {
      @include govuk-responsive-margin(2, 'right');
      @include govuk-font($size: 24, $weight: 'bold');
      display: flex;
      align-items: center;
    }

    &__service-name {
      display: none;
      @include govuk-font(24);

      @include govuk-media-query($from: desktop) {
        display: inline-block;
      }
    }
  }

  &__link {
    @include govuk-link-common;
    @include govuk-link-style-default;

    &:link,
    &:visited,
    &:active {
      color: govuk-colour('white');
      text-decoration: none;
    }

    &:hover {
      text-decoration: underline;
    }

    &:focus {
      color: govuk-colour('black');

      svg {
        fill: govuk-colour('black');
      }
    }

    &__sub-text {
      @include govuk-font(16);
      display: none;

      @include govuk-media-query($from: tablet) {
        display: block;
      }
    }
  }

  &__navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;

    @include govuk-media-query($from: tablet) {
      flex-direction: row;
      align-items: center;
    }

    &__item {
      @include govuk-font(19);
      margin-bottom: govuk-spacing(1);

      &--languages {
        display: flex;
        gap: govuk-spacing(2);
        align-items: center;
      }

      &--search {
        @include govuk-media-query($until: tablet) {
          width: 100%;
        }
      }
      
      text-align: right;

      @include govuk-media-query($from: tablet) {
        @include govuk-responsive-margin(4, 'right');
        @include govuk-responsive-padding(4, 'right');
        margin-bottom: 0;
        border-right: 1px solid govuk-colour('white');
      }

      a {
        display: inline-block;
      }

      &:last-child {
        margin-right: 0;
        border-right: 0;
        padding-right: 0;
      }
    }
  }

  &__language-link {
    @include govuk-font($size: 16, $weight: normal);
    color: govuk-colour('white');
    text-decoration: none;
    padding: govuk-spacing(1);
    font-weight: normal !important;
    
    &:hover {
      text-decoration: underline;
    }
    
    &:focus {
      color: govuk-colour('black');
      background-color: govuk-colour('yellow');
      outline: 3px solid govuk-colour('yellow');
    }
    
    &--active {
      text-decoration: underline !important;
      font-weight: normal !important;
    }
  }

  &__language-separator {
    color: govuk-colour('white');
    opacity: 0.5;
  }

  &__search {
    &-wrapper {
      position: relative;
      display: flex;
    }
    
    &-input {
      @include govuk-font($size: 16);
      padding: govuk-spacing(1) govuk-spacing(5) govuk-spacing(1) govuk-spacing(2);
      border: 2px solid govuk-colour('white');
      background-color: govuk-colour('white');
      color: govuk-colour('black');
      min-width: 300px;
      
      &:focus {
        outline: 3px solid $govuk-focus-colour;
        outline-offset: 0;
        border-color: govuk-colour('black');
      }
      
      @include govuk-media-query($until: tablet) {
        width: 100%;
        min-width: 0;
      }
    }
    
    &-button {
      background-color: govuk-colour('blue');
      border: 2px solid govuk-colour('blue');
      border-left: 0;

      padding: govuk-spacing(1) govuk-spacing(2);
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 0.2s ease;
      
      &:hover {
        background-color: darken(govuk-colour('blue'), 10%);
        border-color: darken(govuk-colour('blue'), 10%);
      }
      
      &:focus {
        outline: 3px solid $govuk-focus-colour;
        outline-offset: 0;
        background-color: govuk-colour('yellow');
        border-color: govuk-colour('black');
        
        .hmpps-header__search-icon {
          color: govuk-colour('black');
        }
      }
      
      &:active {
        background-color: darken(govuk-colour('blue'), 20%);
        border-color: darken(govuk-colour('blue'), 20%);
      }
    }
    
    &-icon {
      width: 18px;
      height: 18px;
      color: govuk-colour('white');
    }
  }

  @media print {
    display: none;
  }
}

.govuk-phase-banner {
  @include govuk-width-container;
  border: none;
}
