.govuk-main-wrapper {
  min-height: 600px;
}

.hmpps-home-section--dark {
  background-color: govuk-colour('black');
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  width: 100vw;
}
