<div class="hmpps-key-info-items">
  {% for item in keyInfo.data %}
    <div class="hmpps-key-info-item" id="keyInfo">
      <a data-featured-tile-id="{{item.id}}"
        data-featured-id="{{item.id}}"
        data-featured-title="{{ item.title }}"
        href="{{item.contentUrl}}"
        {% if item.externalContent %}target="_blank"{% endif %}
        class="govuk-link govuk-link--no-visited-state govuk-link--no-underline govuk-!-margin-bottom-2">
        {% if item.thumbnailUrl %}
          <img src="{{item.thumbnailUrl}}" alt="" loading="lazy">
        {% else %}
          <img src="/assets/images/content_image_placeholder_logo.png" alt="logo" loading="lazy">
        {% endif %}
          <h3 class="govuk-heading-s govuk-!-margin-0">{{item.title}}</h3>
      </a>
    </div>
  {% endfor %}
</div>
