<a class="hmpps-category-card govuk-body govuk-link govuk-link--no-underline govuk-!-margin-0 {% if largeUpdateTile.contentType === 'pdf' or largeUpdateTile.contentType === 'moj_pdf_item' %}is-pdf{% endif %}"
  href="{{largeUpdateTile.contentUrl}}"
  {% if largeUpdateTile.externalContent %}target="_blank"{% endif %}>
  <div>
    <img class="hmpps-category__featured-thumbnail" src="{{largeUpdateTile.image.url}}" alt="" loading="lazy">
    <div class="hmpps_category__featured-text">
      <h3 class="govuk-heading-l govuk-!-margin-bottom-0">{{largeUpdateTile.title}}</h3>
      <p>{{largeUpdateTile.summary | safe}}</p>
      {% if largeUpdateTile.contentType === "video" %}
        <p class="hmpps-category-card__content-label hmpps-category-card__content-label--watch">{{ t("features:contentTile.watch") }}</p>
      {% elif largeUpdateTile.contentType === "radio" %}
        <p class="hmpps-category-card__content-label hmpps-category-card__content-label--listen">{{ t("features:contentTile.listen") }}</p>
      {% elif largeUpdateTile.contentType === "external_link" %}
        <p class="hmpps-category-card__content-label">{{ largeUpdateTile.displayUrl }}</p>
      {% elif largeUpdateTile.contentType === "internal_link" %}
        <p class="hmpps-category-card__content-label"></p>
      {% elif largeUpdateTile.contentType !== "series" and largeUpdateTile.contentType !== "category" %}
        <p class="hmpps-category-card__content-label hmpps-category-card__content-label--read">{{ t("features:contentTile.read") }}</p>
      {% endif %}
    </div>
  </div>
</a>
