{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "govuk-body" %}

{% block content %}
  <a class="govuk-button" href="/topics">Browse all topics</a>
  <section class="hmpps-home-section--dark govuk-!-padding-top-6 govuk-!-padding-bottom-6">
    <div class="govuk-width-container"></div>
  </section>
{% endblock %}
