{% extends "../partials/layout.njk" %}
{% from "../partials/breadcrumb.njk" import breadcrumb, breadcrumbNavigation %}

{% set pageTitle = applicationName + " - Recently Added" %}
{% set mainClasses = "govuk-body" %}

{% block content %}
  {{ breadcrumbNavigation(t) }}
  {{ breadcrumb([ { href: '/', text: t("common:pageNavigation.home")}, { href: '', text: t("pages:recentlyAdded.title") } ]) }}

  {% set summaryHeader = t("pages:recentlyAdded.title") %}
  {% set summaryDescription = t("pages:recentlyAdded.summary") %}
  {% include '../partials/collection/collection-summary.njk' %}

  {% set noContentMessage = 'There is no recently added content available' %}
  {% include '../partials/collection/collection-content.njk' %}

{% endblock %}
