<section class="hmpps-section--dark govuk-!-padding-top-6 govuk-!-padding-bottom-6 govuk-!-margin-top-6">
	<div class="govuk-width-container">
		{% if tag.categoryFeaturedContent and tag.categoryFeaturedContent.length %}
			<h2 class="govuk-heading-l">{{ t("pages:home.featured") }}</h2>
			<div class="govuk-grid-row hmpps-category-grid">
				{% set gridItems = tag.categoryFeaturedContent %}
				{% set showContentTag = false %}
				{% set showItemSummary = true %}
				{% include '../partials/category/category-grid.njk' %}
			</div>
		{% endif %}

		{% if tag.categoryMenu and tag.categoryMenu.length %}
			<h2 class="govuk-heading-l">{{ t("features:category.inThisSection") }}</h2>
			<div class="govuk-grid-row hmpps-category-grid">
				{% set gridItems = tag.categoryMenu %}
				{% set showContentTag = false %}
				{% include '../partials/category/category-grid.njk' %}
			</div>
		{% endif %}

		{% if tag.categoryContent and tag.categoryContent.length %}
			<h2 class="govuk-heading-l">{{ t("features:category.content") }}</h2>
			<div class="govuk-grid-row hmpps-category-grid">
				{% set gridItems = tag.categoryContent %}
				{% set showSeriesTag = false %}
				{% include '../partials/category/category-grid.njk' %}
			</div>
		{% endif %}

		{% if not isLastPage %}
			{% include '../partials/collection/collection-show-more.njk' %}
		{% endif %}
	</div>
</section>
