<div class="govuk-grid-row govuk-!-margin-bottom-6">
	<div class="govuk-grid-column-one-half">
		<h1>{{ tag.name or "Series" }}</h1>
		{% if tag.description %}
			<p>{{ tag.description | safe }}</p>
		{% endif %}
	</div>
	<div class="govuk-grid-column-one-half">
		{% if tag.seriesHeaderImageUrl %}
			<img class="hmpps-series-header__image" src="{{ tag.seriesHeaderImageUrl }}" alt="{{ tag.name or 'Series image' }}">
		{% endif %}
	</div>
</div>

<section class="hmpps-section--dark govuk-!-padding-top-6 govuk-!-padding-bottom-6">
	<div class="govuk-width-container">
		{% if tag.seriesItems and tag.seriesItems.length %}
			<div class="govuk-grid-row hmpps-category-grid">
				{% for item in tag.seriesItems %}
					<div class="govuk-grid-column-one-quarter">
						{% set cardItem = item %}
						{% set showSeriesTag = false %}
						{% set showContentTag = true %}
						{% include "../partials/category-card.njk" %}
					</div>
				{% endfor %}
			</div>
		{% else %}
			<p>No content is available for this series yet.</p>
		{% endif %}
	</div>
</section>
