{% set summaryHeader = tag.name or "Series" %}
{% set summaryDescription = tag.description %}
{% set summaryImageUrl = tag.seriesHeaderImageUrl %}
{% include '../partials/collection/collection-summary.njk' %}

{% set content = tag.seriesItems %}
{% set noContentMessage = 'No content is available for this series yet.' %}
{% include '../partials/collection/collection-content.njk' %}
