{% set summaryHeader = tag.name or "Topic" %}
{% set summaryDescription = tag.description %}
{% set summaryImageUrl = tag.topicHeaderImageUrl %}
{% include '../partials/collection/collection-summary.njk' %}

{% set content = tag.topicItems %}
{% set noContentMessage = 'No content is available for this topic yet.' %}
{% include '../partials/collection/collection-content.njk' %}
