{% extends "../partials/layout.njk" %}
{% from "../partials/breadcrumb.njk" import breadcrumb, breadcrumbNavigation %}

{% set pageTitle = applicationName + " - Topics" %}
{% set mainClasses = "govuk-body" %}

{% block content %}
  {{ breadcrumbNavigation() }}

  {% if breadcrumbs and breadcrumbs.length %}
    {{ breadcrumb(breadcrumbs) }}
  {% endif %}

  <h1>Browse all topics</h1>

  {% if groupedColumns and groupedColumns.length %}
    <div class="govuk-grid-row">
      {% for column in groupedColumns %}
        <div class="govuk-grid-column-one-third">
          {% for group in column.groups %}
            <h2>{{ group.letter }}</h2>
            <ul class="govuk-list">
              {% for topic in group.topics %}
                <li><a class="govuk-link" href="{{ topic.href }}">{{ topic.linkText }}</a></li>
              {% endfor %}
            </ul>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>No topics returned from the CMS.</p>
  {% endif %}
{% endblock %}
